# editors
.vscode
*.swp
*~

# python
.venv

# build
/build*
/twister-out*

__pycache__/

# docs
/doc/_build*

# my-workspace
/my-workspace*

# debian tests
/debian-test*

# arch tests
/arch-test*

# ubuntu tests
/ubuntu-test*